<% if @event.user == current_user %>
  <p>DJ DASHBOARD</p>
  <h1><%= @event.name %></h1>

  <%# raise %>
    <% @tracks.each do |track| %>
    <% unless @event.event_tracks.find_by(track: track).already_played %>
      <div class="container song-card">
        <div class="d-flex m-2">
          <%=image_tag(track.photo, height: 100, width: 100, crop: :scale  )%>
          <div class="align-self-center">
            <h4 class="m-0"><%= track.name %> </h4>
            <p class="m-0"><%= track.artist %></p>
          </div>
          <div class="ml-auto align-self-center">
            <p><%= button_to "Mark as played", "/event_tracks/#{EventTrack.where(track_id: track.id).where(event_id: @event.id)[0].id}", method: :patch%></p>
          </div>
        </div>
      </div>
     <% end %>
  <% end %>
<% else %>
  <p>Event Music Library</p>
  <h1><%= @event.name %></h1>
    <% @tracks.each do |track| %>
      <% if @event.event_tracks.find_by(track: track).already_played %>
        <div class="container song-card make-grey">
          <div class="d-flex m-2">
            <%=image_tag(track.photo, height: 100, width: 100, crop: :scale  )%>
            <div class="align-self-center">
              <h4 class="m-0"><%= track.name %> </h4>
              <p class="m-0"><%= track.artist %></p>
            </div>
            <% else %>
             <div class="container song-card">
              <div class="d-flex m-2">
              <%=image_tag(track.photo, height: 100, width: 100, crop: :scale  )%>
                <div class="align-self-center">
                  <h4 class="m-0"><%= track.name %> </h4>
                  <p class="m-0"><%= track.artist %></p>
                </div>
              <div class="ml-auto align-self-center">
                <p><%= button_to "request", event_track_requests_path(@event, track), method: :create%></p>
              </div>
            <% end %>
        </div>
      </div>
    <% end %>
<% end %>

<%= @track_request_count.sort_by {|_k, v| -v}.to_h %>

<%= link_to 'Back', root_path %>

<%= link_to 'My requests', event_requests_path(@event) %>
