<% if @event.user == current_user %>
    <p>DJ DASHBOARD</p>
<% else %>
    <p>Event Music Library</p>
<% end %>

<h1><%= @event.name %></h1>
<% @tracks.each do |track| %>
<div class="container song-card">
    <div class="d-flex m-2">
        <%=image_tag("music notes.jpg", height: 100, width: 100, crop: :scale  )%>
        <div class="align-self-center">
            <h4 class="m-0"><%= track.name %> </h4>
            <p class="m-0"><%= track.artist %></p>
        </div>
        <div class="ml-auto align-self-center">
            <% if @event.user == current_user %>
                <p><%= button_to "Mark as played", "/event_tracks/#{EventTrack.where(track_id: track.id).where(event_id: @event.id)[0].id}", method: :patch%></p>
            <% else %>
                <p><%= button_to "request", event_track_requests_path(@event, track), method: :create%></p>
            <% end %>
        </div>
    </div>
</div>
<% end %>


  <div class="img-background">
    <%= image_tag event.photo %>
  </div>

<%= @track_request_count.sort_by {|_k, v| -v}.to_h %>

<%= link_to 'Back', root_path %>

<%= link_to 'My requests', event_requests_path(@event) %>
