
<%= render 'shared/navbar_events' %>
<div class="bg-white px-3">

  <div class="d-flex">
    <div class="make-black mx-4 mt-2">
      <%= link_to root_path do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
    </div>
</div>

  <% if @venue.club %>

    <div class="row justify-content-end">
      <!-- <div class="col-6">
        <h1><%= @venue.name %></h1>
      </div> -->
      <div class="col-2">
        <div class="btn add-new link-whiten">
          <%= link_to "+", new_venue_event_path(@venue) %>
        </div>
      </div>
    </div>


    <div class="row">
      <% @events.each do |event| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="card-product flex-container space-between m-3 p-3">
            <%= link_to "", event_path(event), class: "card-link"%>

              <%=image_tag(event.photo, height: 150, width: 80, crop: :scale  )%>

              <div class="card-product-infos mt-3">
                <h4><%= event.name %></h4>
                <p><i class="fas fa-music"></i> <%= Event.find(event.id).user.dj_name %></p>
                <p><i class="fas fa-house-user"></i> <%= Event.find(event.id).venue.name %></p>

              <!-- <div class="flex-container"> -->
              <!--  <div class="card-date"> -->
                  <p><i class="far fa-calendar-alt"></i> <%= event.date.strftime("%d %b") %></p>
                <!--  <p><%= event.date.strftime("%b") %></p> -->
              <!--  </div> -->
              <!-- </div> -->
              </div>
          </div>
        </div>
      <% end %>
    </div>

    <% else %>

    <span id="hidden_token" style="display:none"></span>

    <p class="pb-2"> </p>
      <div class="song-card-play pt-3 make-purple">
        <div class="d-flex mb-3 m-3">
          <img src="" alt="Currently Playing" id="current-image" width="100" height="100">
          <div class="align-self-center m-3">
            <h4 id="current-playing-title"><em>Title</h4>
            <p id="current-playing-artist"><em>Artist</em></p>
          </div>
          <p class="card-request mr-2"><em>Currently Playing</em></p>
          <div class="ml-auto align-self-center">
              <div class="ml-auto align-self-center request-button-black">
                  <i class="fas fa-play-circle"></i>
              </div>
          </div>
        </div>
    </div>


    <div class="d-flex justify-content-center text-center">
    <%= form_tag venue_path, class: "search-tracks",  method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-field justify-content-center",
      placeholder: "  Search artist/track"
    %>
    <%= button_tag :submit, class: "create-button px-2" do %>
      <i class="fas fa-search"></i>
    <% end %>
    <% end %>
  </div>

  <p class="text-right pt-1 pr-3"><span class="text-background p-1 m-1"><em> Press to add song to queue </em></span><span class="request-button"><i class="fas fa-arrow-alt-circle-up"></i></span></p>


    <% @tracks.each do |track| %>
    <% if !VenueTracksPlayed.find_by track_id: track.id %>


      <div class="song-card">
        <div id="myDIV">
        <div class="d-flex m-2">

          <% if track.album.images %>

            <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

            <% elsif track.artists.first.images %>

              <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

            <% else %>

              <%=image_tag('singer.jpg', height: 100, width: 100, crop: :scale  )%>

          <% end %>


          <div class="align-self-center m-3">
            <h4 class="m-0"><%= track.name %> </h4>
            <p class="m-0"><%= track.artists.first.name %></p>
          </div>

          <div type= "button" id="request-new" class="ml-auto align-self-center request-button" data-toggle="modal" data-target="#exampleModal<%= track.id %>">
              <i class="fas fa-arrow-alt-circle-up"></i>
          </div>
          <div class="modal fade mt-5" id="exampleModal<%= track.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Song Selection</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <div class="d-flex m-2">
                    <% if track.album.images %>

                      <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

                      <% elsif track.artists.first.images %>

                        <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

                      <% else %>

                        <%=image_tag('singer.jpg', height: 100, width: 100, crop: :scale  )%>

                    <% end %>
                  <div class="align-self-center m-3">
                    <h4 class="m-0"><%= track.name %> </h4>
                    <p class="m-0"><%= track.artists.first.name %></p>
                    <p id="added-queue"> </p>
                  </div>
                </div>
                </div>
                <div class="modal-footer">
                  <div type="button" class="back-button" data-dismiss="modal">Back</div>

                  <%= link_to venue_venue_tracks_playeds_path(@venue, track_id: track.id), method: :create, data: { confirm: "Confirmed!" } do %>
                  <div type="button" class="request-button-confirm confirm-add" onclick="" data-dismiss="modal"> <h6 class="pt-2">ADD TO QUEUE</h6>
                  <span class="track-id" style="display:none"><%= track.external_urls["spotify"] %></span>
                  </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <% else %>
      <div class="song-card make-grey">
        <div id="myDIV">
        <div class="d-flex m-2">

          <% if track.album.images %>

            <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

            <% elsif track.artists.first.images %>

              <%=image_tag(track.album.images.first["url"], height: 100, width: 100, crop: :scale  )%>

            <% else %>

              <%=image_tag('singer.jpg', height: 100, width: 100, crop: :scale  )%>

          <% end %>

              <div class="align-self-center m-3">
                <h4 class="m-0"><%= track.name %> </h4>
                <p class="m-0"><%= track.artists.first.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>

<% content_for :meta_title, "#{@venue.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @venue.location %>
<% content_for :meta_image, cl_image_path(@venue.photo.key) %>
